@using ZavenDotNetInterview.App.ViewModels.Jobs
@model CreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Jobs", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    
    @Html.LabelFor(model => model.DoAfter)
    @Html.TextBoxFor(model => model.DoAfter, new {type = "date"})
    
    <input type="submit" value="Create"/>
}